.layoutWrapper {
  font-family: "Roboto", sans-serif;
  display: block;

  @media (min-width: 426px) {
    display: flex;
  }
}
.mainWrapper {
  height: 100vh;
  padding: 24px;
  background-color: #f9f9f9;
  @media (min-width: 426px) {
    padding: 24px 48px;
    margin-left: 30%;
  }
}
