.sideNavWrapper {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    rgba(0, 0, 0, 0.55) url("../images/skyline.jpg");
  background-size: cover;
  background-position: center;
  padding: 24px;
  color: white;
  position: relative;

  @media (min-width: 426px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 30%;
    height: 100%;
  }
}
.pageSideNavWrapper {
  height: 18vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    rgba(0, 0, 0, 0.55) url("../images/skyline.jpg");
  background-size: cover;
  background-position: center;
  padding: 24px;
  color: white;
  position: relative;

  @media (min-width: 426px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 30%;
    height: 100%;
  }
}
.sideNavTitle {
  text-align: center;
  margin: 40px 0 60px;
  letter-spacing: 2px;
}
.pageSideNavTitle {
  text-align: center;
  letter-spacing: 2px;

  @media (min-width: 426px) {
    margin: 40px 0 60px;
  }
}
.sideNavLink {
  color: white;
  text-decoration: none;
}
.imageTextWrapper {
  display: block;
}
.pageImageTextWrapper {
  display: none;

  @media (min-width: 426px) {
    display: block;
  }
}
.imageWrapper {
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 60px;

  @media (min-width: 426px) {
    width: 150px;
  }
}
.text {
  text-align: center;
  line-height: 30px;

  @media (min-width: 426px) {
    line-height: 34px;
  }
}
.socialLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 0;
}
.socialLink {
  color: #d3d3d3;
  font-size: 32px;

  &:hover {
    color: #1c4ad2;
  }
}
